body {
  /* background: #eee; */
  background: aqua;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-bottom: 16px;
  padding-top:8px;
}

.title {
  background: #e3f4ff;
  margin:16px;
  margin-top: 16px;
  
}

.content {
  background: #e3f4ff;
  margin:16px;
}

.button-container {
  background: #e3f4ff;
  margin: 16px ;
  margin-bottom: 0px;
  padding: 8px;
  text-align: center;
  
}

button {
  background: white;
  display: block;
  width: 100px;
  height: 20px;
  margin:  auto;
  
  border: 1px solid #eee;
}